<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>  
    <security>
            <ipSecurity denyAction="Unauthorized">
				<add ipAddress="0.0.0.0" subnetMask="255.255.255.255" allowed="false" />
				<add ipAddress="185.25.64.0" subnetMask="255.255.254.0" allowed="false" />
                <add ipAddress="66.165.176.0" subnetMask="255.255.255.0" allowed="true" />
            </ipSecurity>
    </security>   
  </system.webServer>
</configuration>
