<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>  
	<rewrite>
		<rules>
			<clear />
			<rule name="Force HTTPS" enabled="true">
				<match url="(.*)" ignoreCase="false" />
				<conditions>
					<add input="{HTTPS}" pattern="off" />
				</conditions>
				<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="true" redirectType="Permanent" />
			</rule>
		</rules>
    </rewrite>
    <security>
            <ipSecurity denyAction="Unauthorized">
				<add ipAddress="185.25.64.0" subnetMask="255.255.254.0" allowed="true" />
                <add ipAddress="66.165.176.0" subnetMask="255.255.255.0" allowed="true" />
				<add ipAddress="23.29.105.0" subnetMask="255.255.255.0" allowed="true" />
				<add ipAddress="46.33.159.0" subnetMask="255.255.255.128" allowed="true" />
				<add ipAddress="0.0.0.0" subnetMask="255.255.255.255" allowed="false" />
            </ipSecurity>
    </security>   
  </system.webServer>
</configuration>
