<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <httpProtocol>
      <customHeaders>
        <!--https://www.owasp.org/index.php/HTTP_Strict_Transport_Security-->
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
      </customHeaders>
    </httpProtocol>
    <security>
            <ipSecurity denyAction="Unauthorized">
				<add ipAddress="185.25.64.0" subnetMask="255.255.254.0" allowed="true" />
                		<add ipAddress="66.165.176.0" subnetMask="255.255.255.0" allowed="true" />
				<add ipAddress="23.29.105.0" subnetMask="255.255.255.0" allowed="true" />
				<add ipAddress="46.33.159.0" subnetMask="255.255.255.128" allowed="true" />
				<add ipAddress="0.0.0.0" subnetMask="255.255.255.255" allowed="true" />
            </ipSecurity>
    </security>   
  </system.webServer>
</configuration>
